hwi_oauth_redirect:
    resource: "@HWIOAuthBundle/Resources/config/routing/redirect.xml"
    prefix:   /connect

hwi_oauth_login:
    resource: "@HWIOAuthBundle/Resources/config/routing/login.xml"
    prefix:   /login

auth0_login:
    path: /auth0/callback

app:
    resource: '@AppBundle/Controller/'
    type: annotation

clients-rules:
    path: /clients/rules
    defaults:
        _controller: FrameworkBundle:Template:template
        template: :rules:list.html.twig
