body {
    font-family: 'Roboto', sans-serif;
    background-color: #26a69a;
}

.row {
    margin-top:40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 19px;
    color: #333333;
    font-weight: bold;
}

.panel-title>a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #EEEEEE;
}

.rules-toggle {
  position: absolute;
  top: 30px;
  right: 55px;
}
